@import "components/fonts.less";
@import "components/variables.less";
@import "components/media.less";

body{
  font-family: "Montserrat Regular", sans-serif;
  background: @gray;
  color: @font-color;
}

.p1 {
  font-size: 40px;
}
p {
  font-size: 40px;
}